<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let user of users" *ngIf="user.age > 20">
    {{ user.firstname }} {{ user.lastname }} - Age: {{ user.age }}
  </li>
</ul>

<app-user (childUsersEvent)="receiveChildUsers($event)" [parentUsers]="parentUsers"></app-user>

<h1>Array from child component</h1>
<ul>
  <li *ngFor="let user of receivedChildUsers">
    {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
  </li>
</ul>

<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <div class="form-group">
    <label for="id">ID</label>
    <input id="id" formControlName="Id" class="form-control">
    <div *ngIf="userForm.controls['Id'].invalid && userForm.controls['Id'].touched" class="text-danger">
      ID is required
    </div>
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input id="firstname" formControlName="Firstname" class="form-control">
    <div *ngIf="userForm.controls['Firstname'].invalid && userForm.controls['Firstname'].touched" class="text-danger">
      
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input id="lastname" formControlName="Lastname" class="form-control">
    <div *ngIf="userForm.controls['Lastname'].invalid && userForm.controls['Lastname'].touched" class="text-danger">
     
    </div>
  </div>
  <div class="form-group">
    <label for="dateofbirth">Date of Birth</label>
    <input id="dateofbirth" formControlName="DateOfBirth" class="form-control">
    <div *ngIf="userForm.controls['DateOfBirth'].invalid && userForm.controls['DateOfBirth'].touched" class="text-danger">
   
    </div>
  </div>
  <div class="form-group">
    <label for="phonenumber">Phone Number</label>
    <input id="phonenumber" formControlName="PhoneNumber" class="form-control">
    <div *ngIf="userForm.controls['PhoneNumber'].invalid && userForm.controls['PhoneNumber'].touched" class="text-danger">
      
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" formControlName="Email" class="form-control">
    <div *ngIf="userForm.controls['Email'].invalid && userForm.controls['Email'].touched" class="text-danger">
      
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid"></button>
</form>
